{
  "root": true,
  "env": {
    "node": true,
    "browser": true
  },
  "extends": [
    "standard"
  ],
  "rules": {
    "no-var": "error",
    "eqeqeq": "error",
    "key-spacing": ["error", {
      "multiLine": {
        "beforeColon": false,
        "afterColon": true
      },
      "align": {
        "beforeColon": true,
        "afterColon": true,
        "on": "colon"
      }
    }]
  }
}