/* border-w-l-0rem */
.border-w-l-0rem {
  border-width: 0;
  border-left-width:0;
  border-style:solid;
  border-color: black;
}

/* border-w-4713em */
.border-w-4713em {
  border-width: 4713em;
  border-style: solid;
  border-color: black;
}

/* border-r-7 */
.border-r-7 {
  border-width: 0;
  border-right-width:7px;
  border-style:solid;
  border-color: black;
}

/* border-w-0 */
.border-w-0 {
  border-width: 0;
  border-style: solid;
  border-color: black;
}

/* border-width-0 */
.border-width-0 {
  border-width: 0;
  border-style: solid;
  border-color: black;
}

/* border-0 */
.border-0 {
  border-width: 0;
  border-style: solid;
  border-color: black;
}

/* border-1577 */
.border-1577 {
  border-width: 1577px;
  border-style: solid;
  border-color: black;
}

/* border-r-0 */
.border-r-0 {
  border-width: 0;
  border-right-width:0;
  border-style:solid;
  border-color: black;
}

/* border-width-0 */

/* border-0rem */
.border-0rem {
  border-width: 0;
  border-style: solid;
  border-color: black;
}

/* border-r-771379 */
.border-r-771379 {
  border-width: 0;
  border-right-width:771379px;
  border-style:solid;
  border-color: black;
}

/* border-width-x-0em */
.border-width-x-0em {
  border-width: 0;
  border-left-width:0;
  border-right-width:0;
  border-style:solid;
  border-color: black;
}

/* border-r-0rem */
.border-r-0rem {
  border-width: 0;
  border-right-width:0;
  border-style:solid;
  border-color: black;
}

/* border-y-0em */
.border-y-0em {
  border-width: 0;
  border-top-width:0;
  border-bottom-width:0;
  border-style:solid;
  border-color: black;
}

/* border-l-0 */
.border-l-0 {
  border-width: 0;
  border-left-width:0;
  border-style:solid;
  border-color: black;
}

/* border-l-0rem */
.border-l-0rem {
  border-width: 0;
  border-left-width:0;
  border-style:solid;
  border-color: black;
}

/* border-867 */
.border-867 {
  border-width: 867px;
  border-style: solid;
  border-color: black;
}

/* border-r-0 */

/* border-0em */
.border-0em {
  border-width: 0;
  border-style: solid;
  border-color: black;
}

/* border-0em */

/* border-width-0 */

/* border-w-t-1vw */
.border-w-t-1vw {
  border-width: 0;
  border-top-width:1vw;
  border-style:solid;
  border-color: black;
}

/* border-y-572 */
.border-y-572 {
  border-width: 0;
  border-top-width:572px;
  border-bottom-width:572px;
  border-style:solid;
  border-color: black;
}

/* border-573rem */
.border-573rem {
  border-width: 573rem;
  border-style: solid;
  border-color: black;
}

/* border-width-687 */
.border-width-687 {
  border-width: 687px;
  border-style: solid;
  border-color: black;
}

/* border-width-b-0rem */
.border-width-b-0rem {
  border-width: 0;
  border-bottom-width:0;
  border-style:solid;
  border-color: black;
}

/* border-t-0 */
.border-t-0 {
  border-width: 0;
  border-top-width:0;
  border-style:solid;
  border-color: black;
}

/* border-width-27rem */
.border-width-27rem {
  border-width: 27rem;
  border-style: solid;
  border-color: black;
}

/* border-w-y-0rpx */
.border-w-y-0rpx {
  border-width: 0;
  border-top-width:0;
  border-bottom-width:0;
  border-style:solid;
  border-color: black;
}

/* border-l-0em */
.border-l-0em {
  border-width: 0;
  border-left-width:0;
  border-style:solid;
  border-color: black;
}

/* border-158em */
.border-158em {
  border-width: 158em;
  border-style: solid;
  border-color: black;
}

/* border-3495rem */
.border-3495rem {
  border-width: 3495rem;
  border-style: solid;
  border-color: black;
}

/* border-w-r-341em */
.border-w-r-341em {
  border-width: 0;
  border-right-width:341em;
  border-style:solid;
  border-color: black;
}

/* border-width-l-9em */
.border-width-l-9em {
  border-width: 0;
  border-left-width:9em;
  border-style:solid;
  border-color: black;
}

/* border-x-5337vw */
.border-x-5337vw {
  border-width: 0;
  border-left-width:5337vw;
  border-right-width:5337vw;
  border-style:solid;
  border-color: black;
}

/* border-0 */

/* border-width-b-0 */
.border-width-b-0 {
  border-width: 0;
  border-bottom-width:0;
  border-style:solid;
  border-color: black;
}

/* border-w-b-73633vh */
.border-w-b-73633vh {
  border-width: 0;
  border-bottom-width:73633vh;
  border-style:solid;
  border-color: black;
}

/* border-width-l-0 */
.border-width-l-0 {
  border-width: 0;
  border-left-width:0;
  border-style:solid;
  border-color: black;
}

/* border-w-l-0rem */

/* border-width-21199em */
.border-width-21199em {
  border-width: 21199em;
  border-style: solid;
  border-color: black;
}

/* border-width-65rem */
.border-width-65rem {
  border-width: 65rem;
  border-style: solid;
  border-color: black;
}

/* border-x-6732812rem */
.border-x-6732812rem {
  border-width: 0;
  border-left-width:6732812rem;
  border-right-width:6732812rem;
  border-style:solid;
  border-color: black;
}

/* border-w-4779rem */
.border-w-4779rem {
  border-width: 4779rem;
  border-style: solid;
  border-color: black;
}

/* border-2 */
.border-2 {
  border-width: 2px;
  border-style: solid;
  border-color: black;
}

/* border-width-x-6 */
.border-width-x-6 {
  border-width: 0;
  border-left-width:6px;
  border-right-width:6px;
  border-style:solid;
  border-color: black;
}

/* border-5 */
.border-5 {
  border-width: 5px;
  border-style: solid;
  border-color: black;
}

/* border-0rem */

/* border-0vh */
.border-0vh {
  border-width: 0;
  border-style: solid;
  border-color: black;
}

/* border-0 */

/* border-width-53384rem */
.border-width-53384rem {
  border-width: 53384rem;
  border-style: solid;
  border-color: black;
}

/* border-b-8 */
.border-b-8 {
  border-width: 0;
  border-bottom-width:8px;
  border-style:solid;
  border-color: black;
}

/* border-l-0rem */

/* border-width-r-4143vw */
.border-width-r-4143vw {
  border-width: 0;
  border-right-width:4143vw;
  border-style:solid;
  border-color: black;
}

/* border-width-t-0 */
.border-width-t-0 {
  border-width: 0;
  border-top-width:0;
  border-style:solid;
  border-color: black;
}

/* border-width-b-0rem */

/* border-0 */

/* border-32 */
.border-32 {
  border-width: 32px;
  border-style: solid;
  border-color: black;
}

/* border-w-b-29517 */
.border-w-b-29517 {
  border-width: 0;
  border-bottom-width:29517px;
  border-style:solid;
  border-color: black;
}

/* border-width-0 */

/* border-0 */

/* border-w-0 */

/* border-0em */

/* border-w-l-5544761 */
.border-w-l-5544761 {
  border-width: 0;
  border-left-width:5544761px;
  border-style:solid;
  border-color: black;
}

/* border-width-62rem */
.border-width-62rem {
  border-width: 62rem;
  border-style: solid;
  border-color: black;
}

/* border-w-x-0vw */
.border-w-x-0vw {
  border-width: 0;
  border-left-width:0;
  border-right-width:0;
  border-style:solid;
  border-color: black;
}

/* border-r-0vw */
.border-r-0vw {
  border-width: 0;
  border-right-width:0;
  border-style:solid;
  border-color: black;
}

/* border-y-1251rem */
.border-y-1251rem {
  border-width: 0;
  border-top-width:1251rem;
  border-bottom-width:1251rem;
  border-style:solid;
  border-color: black;
}

/* border-width-0rem */
.border-width-0rem {
  border-width: 0;
  border-style: solid;
  border-color: black;
}

/* border-width-1179rem */
.border-width-1179rem {
  border-width: 1179rem;
  border-style: solid;
  border-color: black;
}

/* border-w-304rem */
.border-w-304rem {
  border-width: 304rem;
  border-style: solid;
  border-color: black;
}

/* border-width-510em */
.border-width-510em {
  border-width: 510em;
  border-style: solid;
  border-color: black;
}

/* border-width-0 */

/* border-width-463 */
.border-width-463 {
  border-width: 463px;
  border-style: solid;
  border-color: black;
}

/* border-0rem */

/* border-width-7388em */
.border-width-7388em {
  border-width: 7388em;
  border-style: solid;
  border-color: black;
}

/* border-w-b-35 */
.border-w-b-35 {
  border-width: 0;
  border-bottom-width:35px;
  border-style:solid;
  border-color: black;
}

/* border-0 */

/* border-r-0rem */

/* border-w-y-0rem */
.border-w-y-0rem {
  border-width: 0;
  border-top-width:0;
  border-bottom-width:0;
  border-style:solid;
  border-color: black;
}

/* border-l-874 */
.border-l-874 {
  border-width: 0;
  border-left-width:874px;
  border-style:solid;
  border-color: black;
}

/* border-y-8rem */
.border-y-8rem {
  border-width: 0;
  border-top-width:8rem;
  border-bottom-width:8rem;
  border-style:solid;
  border-color: black;
}

/* border-x-0 */
.border-x-0 {
  border-width: 0;
  border-left-width:0;
  border-right-width:0;
  border-style:solid;
  border-color: black;
}

/* border-678705 */
.border-678705 {
  border-width: 678705px;
  border-style: solid;
  border-color: black;
}

/* border-width-t-266571 */
.border-width-t-266571 {
  border-width: 0;
  border-top-width:266571px;
  border-style:solid;
  border-color: black;
}

/* border-width-0 */

/* border-w-b-329em */
.border-w-b-329em {
  border-width: 0;
  border-bottom-width:329em;
  border-style:solid;
  border-color: black;
}

/* border-w-y-0rem */

/* border-x-0rem */
.border-x-0rem {
  border-width: 0;
  border-left-width:0;
  border-right-width:0;
  border-style:solid;
  border-color: black;
}

/* border-width-0 */

/* border-width-t-0em */
.border-width-t-0em {
  border-width: 0;
  border-top-width:0;
  border-style:solid;
  border-color: black;
}

/* border-b-4658 */
.border-b-4658 {
  border-width: 0;
  border-bottom-width:4658px;
  border-style:solid;
  border-color: black;
}

/* border-b-564rem */
.border-b-564rem {
  border-width: 0;
  border-bottom-width:564rem;
  border-style:solid;
  border-color: black;
}

/* border-47863 */
.border-47863 {
  border-width: 47863px;
  border-style: solid;
  border-color: black;
}

/* border-0em */

/* border-t-0rem */
.border-t-0rem {
  border-width: 0;
  border-top-width:0;
  border-style:solid;
  border-color: black;
}

/* border-b-7171661rem */
.border-b-7171661rem {
  border-width: 0;
  border-bottom-width:7171661rem;
  border-style:solid;
  border-color: black;
}

/* border-width-b-3214183 */
.border-width-b-3214183 {
  border-width: 0;
  border-bottom-width:3214183px;
  border-style:solid;
  border-color: black;
}

/* border-w-r-4248 */
.border-w-r-4248 {
  border-width: 0;
  border-right-width:4248px;
  border-style:solid;
  border-color: black;
}

/* border-w-r-4399 */
.border-w-r-4399 {
  border-width: 0;
  border-right-width:4399px;
  border-style:solid;
  border-color: black;
}

