/* color-B9bCdb-100 */
.color-B9bCdb-100{color:rgba(185,188,219,1.00);}
/* text-hover-adE2DA-100 */
.text-hover-adE2DA-100:hover{color:rgba(173,226,218,1.00);}
/* color-dfDCCE */
.color-dfDCCE{color:rgba(223,220,206,1);}
/* color-hover-Ebe5d2-100 */
.color-hover-Ebe5d2-100:hover{color:rgba(235,229,210,1.00);}
/* text-hover-white-41 */
.text-hover-white-41:hover{color:rgba(255,255,255,0.41);}
/* color-8E3AbD */
.color-8E3AbD{color:rgba(142,58,189,1);}
/* text-red-28 */
.text-red-28{color:rgba(255,0,0,0.28);}
/* color-Dbc-91 */
.color-Dbc-91{color:rgba(221,187,204,0.91);}
/* border-color-77B */
.border-color-77B{border-color:rgba(119,119,187,1);}
/* bg-DBB */
.bg-DBB{background-color:rgba(221,187,187,1);}
/* c-visited-white */
.c-visited-white:visited{color:rgba(255,255,255,1);}
/* color-E1D8Df-100 */
.color-E1D8Df-100{color:rgba(225,216,223,1.00);}
/* color-BC0dAc-100 */
.color-BC0dAc-100{color:rgba(188,13,172,1.00);}
/* color-hover-red-100 */
.color-hover-red-100:hover{color:rgba(255,0,0,1.00);}
/* text-visited-eF65CA-84 */
.text-visited-eF65CA-84:visited{color:rgba(239,101,202,0.84);}
/* color-visited-white-59 */
.color-visited-white-59:visited{color:rgba(255,255,255,0.59);}
/* text-focus-within-13d-69 */
.text-focus-within-13d-69:focus-within{color:rgba(17,51,221,0.69);}
/* color-link-B44CAF-25 */
.color-link-B44CAF-25:link{color:rgba(180,76,175,0.25);}
/* c-hover-ACC */
.c-hover-ACC:hover{color:rgba(170,204,204,1);}
/* color-hover-dBBDDF-86 */
.color-hover-dBBDDF-86:hover{color:rgba(219,189,223,0.86);}
/* c-black */
.c-black{color:rgba(0,0,0,1);}
/* color-Bce */
.color-Bce{color:rgba(187,204,238,1);}
/* color-link-622-100 */
.color-link-622-100:link{color:rgba(102,34,34,1.00);}
/* color-visited-59cEB5 */
.color-visited-59cEB5:visited{color:rgba(89,206,181,1);}
/* color-hover-BD24FF-63 */
.color-hover-BD24FF-63:hover{color:rgba(189,36,255,0.63);}
/* color-ccADEB-100 */
.color-ccADEB-100{color:rgba(204,173,235,1.00);}
/* color-hover-86FFEb */
.color-hover-86FFEb:hover{color:rgba(134,255,235,1);}
/* c-fDf3FB */
.c-fDf3FB{color:rgba(253,243,251,1);}
/* c-red */
.c-red{color:rgba(255,0,0,1);}
/* c-DFdFFE-100 */
.c-DFdFFE-100{color:rgba(223,223,254,1.00);}
/* color-link-C4f-100 */
.color-link-C4f-100:link{color:rgba(204,68,255,1.00);}
/* text-hover-B39ecD-62 */
.text-hover-B39ecD-62:hover{color:rgba(179,158,205,0.62);}
/* bg-hover-cCeF1E-66 */
.bg-hover-cCeF1E-66:hover{background-color:rgba(204,239,30,0.66);}
/* color-focus-within-eCb0eA */
.color-focus-within-eCb0eA:focus-within{color:rgba(236,176,234,1);}
/* c-white */
.c-white{color:rgba(255,255,255,1);}
/* color-link-EBED1C-85 */
.color-link-EBED1C-85:link{color:rgba(235,237,28,0.85);}
/* color-CAD87C */
.color-CAD87C{color:rgba(202,216,124,1);}
/* c-8fE-100 */
.c-8fE-100{color:rgba(136,255,238,1.00);}
/* text-red */
.text-red{color:rgba(255,0,0,1);}
/* c-e6F-40 */
.c-e6F-40{color:rgba(238,102,255,0.40);}
/* c-hover-dE96AB-100 */
.c-hover-dE96AB-100:hover{color:rgba(222,150,171,1.00);}
/* text-8BcAC2 */
.text-8BcAC2{color:rgba(139,202,194,1);}
/* c-red-100 */
.c-red-100{color:rgba(255,0,0,1.00);}
/* c-EE1CdC */
.c-EE1CdC{color:rgba(238,28,220,1);}
/* c-hover-8BE2eC */
.c-hover-8BE2eC:hover{color:rgba(139,226,236,1);}
/* color-BCcCFd */
.color-BCcCFd{color:rgba(188,204,253,1);}
/* color-hover-red */
.color-hover-red:hover{color:rgba(255,0,0,1);}
/* color-BDeEbE-36 */
.color-BDeEbE-36{color:rgba(189,238,190,0.36);}
/* c-6CFBE6 */
.c-6CFBE6{color:rgba(108,251,230,1);}
/* c-616eDe */
.c-616eDe{color:rgba(97,110,222,1);}
/* color-black-100 */
.color-black-100{color:rgba(0,0,0,1.00);}
/* color-hover-red */

/* color-white */
.color-white{color:rgba(255,255,255,1);}
/* color-hover-white-100 */
.color-hover-white-100:hover{color:rgba(255,255,255,1.00);}
/* color-EBE0Cc */
.color-EBE0Cc{color:rgba(235,224,204,1);}
/* color-FE1 */
.color-FE1{color:rgba(255,238,17,1);}
/* color-dC6D4E */
.color-dC6D4E{color:rgba(220,109,78,1);}
/* text-hover-8b86cf */
.text-hover-8b86cf:hover{color:rgba(139,134,207,1);}
/* color-hover-E2FFbB */
.color-hover-E2FFbB:hover{color:rgba(226,255,187,1);}
/* color-red */
.color-red{color:rgba(255,0,0,1);}
/* color-eDd25F-100 */
.color-eDd25F-100{color:rgba(237,210,95,1.00);}
/* color-white-65 */
.color-white-65{color:rgba(255,255,255,0.65);}
/* color-focus-within-EdfAdB */
.color-focus-within-EdfAdB:focus-within{color:rgba(237,250,219,1);}
/* text-6AEDAe */
.text-6AEDAe{color:rgba(106,237,174,1);}
/* border-c-hover-white */
.border-c-hover-white:hover{border-color:rgba(255,255,255,1);}
/* bg-hover-5ECEEd-72 */
.bg-hover-5ECEEd-72:hover{background-color:rgba(94,206,237,0.72);}
/* c-white-100 */
.c-white-100{color:rgba(255,255,255,1.00);}
/* color-2DD-51 */
.color-2DD-51{color:rgba(34,221,221,0.51);}
/* color-hover-1EB61e-100 */
.color-hover-1EB61e-100:hover{color:rgba(30,182,30,1.00);}
/* color-3b5b2A */
.color-3b5b2A{color:rgba(59,91,42,1);}
/* color-C1F-34 */
.color-C1F-34{color:rgba(204,17,255,0.34);}
/* color-26BcC7 */
.color-26BcC7{color:rgba(38,188,199,1);}
/* color-white-100 */
.color-white-100{color:rgba(255,255,255,1.00);}
/* border-c-red-65 */
.border-c-red-65{border-color:rgba(255,0,0,0.65);}
/* color-DBCcC8 */
.color-DBCcC8{color:rgba(219,204,200,1);}
/* c-hover-468ABa */
.c-hover-468ABa:hover{color:rgba(70,138,186,1);}
/* text-hover-red-92 */
.text-hover-red-92:hover{color:rgba(255,0,0,0.92);}
/* text-red-100 */
.text-red-100{color:rgba(255,0,0,1.00);}
/* text-hover-BCF-100 */
.text-hover-BCF-100:hover{color:rgba(187,204,255,1.00);}
/* text-active-9EecA2 */
.text-active-9EecA2:active{color:rgba(158,236,162,1);}
/* color-link-CCFF6D-100 */
.color-link-CCFF6D-100:link{color:rgba(204,255,109,1.00);}
/* text-visited-aBC-100 */
.text-visited-aBC-100:visited{color:rgba(170,187,204,1.00);}
/* color-8Df-100 */
.color-8Df-100{color:rgba(136,221,255,1.00);}
/* c-link-aC1-100 */
.c-link-aC1-100:link{color:rgba(170,204,17,1.00);}
/* color-hover-EFE68C-100 */
.color-hover-EFE68C-100:hover{color:rgba(239,230,140,1.00);}
/* text-ECfB44 */
.text-ECfB44{color:rgba(236,251,68,1);}
/* color-red-72 */
.color-red-72{color:rgba(255,0,0,0.72);}
/* c-dCE */
.c-dCE{color:rgba(221,204,238,1);}
/* bg-DDC */
.bg-DDC{background-color:rgba(221,221,204,1);}
/* color-visited-CFb-66 */
.color-visited-CFb-66:visited{color:rgba(204,255,187,0.66);}
/* bg-visited-Dd7-94 */
.bg-visited-Dd7-94:visited{background-color:rgba(221,221,119,0.94);}
/* c-hover-DFB-100 */
.c-hover-DFB-100:hover{color:rgba(221,255,187,1.00);}
/* color-B8CBBd */
.color-B8CBBd{color:rgba(184,203,189,1);}
/* color-EC5C8B */
.color-EC5C8B{color:rgba(236,92,139,1);}
/* color-b1B8CC */
.color-b1B8CC{color:rgba(177,184,204,1);}
/* color-6Cf-67 */
.color-6Cf-67{color:rgba(102,204,255,0.67);}
/* color-visited-dFa-86 */
.color-visited-dFa-86:visited{color:rgba(221,255,170,0.86);}
/* color-visited-red */
.color-visited-red:visited{color:rgba(255,0,0,1);}
/* c-cCB6D8 */
.c-cCB6D8{color:rgba(204,182,216,1);}
/* color-hover-B2EB3A */
.color-hover-B2EB3A:hover{color:rgba(178,235,58,1);}
