/* color-link-DeDDAC */
.color-link-DeDDAC:link{color:rgba(222,221,172,1);}
/* color-link-cAcA9D */
.color-link-cAcA9D:link{color:rgba(202,202,157,1);}
/* color-hover-red */
.color-hover-red:hover{color:rgba(255,0,0,1);}
/* c-focus-DCc */
.c-focus-DCc:focus{color:rgba(221,204,204,1);}
/* color-white */
.color-white{color:rgba(255,255,255,1);}
/* color-8AeC8C */
.color-8AeC8C{color:rgba(138,236,140,1);}
/* text-active-bcE4C2 */
.text-active-bcE4C2:active{color:rgba(188,228,194,1);}
/* color-46CEDb */
.color-46CEDb{color:rgba(70,206,219,1);}
/* color-AABDEB */
.color-AABDEB{color:rgba(170,189,235,1);}
/* color-hover-CdBeD9-11 */
.color-hover-CdBeD9-11:hover{color:rgba(205,190,217,0.11);}
/* color-hover-C4D */
.color-hover-C4D:hover{color:rgba(204,68,221,1);}
/* text-active-04A-14 */
.text-active-04A-14:active{color:rgba(0,68,170,0.14);}
/* c-1DBDB2-100 */
.c-1DBDB2-100{color:rgba(29,189,178,1.00);}
/* color-E3ABAE-54 */
.color-E3ABAE-54{color:rgba(227,171,174,0.54);}
/* bg-visited-Fd1DAF-100 */
.bg-visited-Fd1DAF-100:visited{background-color:rgba(253,29,175,1.00);}
/* color-DEDEEB */
.color-DEDEEB{color:rgba(222,222,235,1);}
/* border-color-fDE */
.border-color-fDE{border-color:rgba(255,221,238,1);}
/* c-EFfCcF */
.c-EFfCcF{color:rgba(239,252,207,1);}
/* c-Da4fBC-100 */
.c-Da4fBC-100{color:rgba(218,79,188,1.00);}
/* c-white-100 */
.c-white-100{color:rgba(255,255,255,1.00);}
/* c-link-eCEEEE-79 */
.c-link-eCEEEE-79:link{color:rgba(236,238,238,0.79);}
/* color-hover-red-100 */
.color-hover-red-100:hover{color:rgba(255,0,0,1.00);}
/* color-active-d01bb2-100 */
.color-active-d01bb2-100:active{color:rgba(208,27,178,1.00);}
/* color-5cCBDB */
.color-5cCBDB{color:rgba(92,203,219,1);}
/* color-c7D3Ed-57 */
.color-c7D3Ed-57{color:rgba(199,211,237,0.57);}
/* color-hover-C6eACF-42 */
.color-hover-C6eACF-42:hover{color:rgba(198,234,207,0.42);}
/* c-hover-ecb4ED-91 */
.c-hover-ecb4ED-91:hover{color:rgba(236,180,237,0.91);}
/* color-fBEa6a-100 */
.color-fBEa6a-100{color:rgba(251,234,106,1.00);}
/* c-visited-FFb */
.c-visited-FFb:visited{color:rgba(255,255,187,1);}
/* text-active-fEA */
.text-active-fEA:active{color:rgba(255,238,170,1);}
/* color-CC8AFB */
.color-CC8AFB{color:rgba(204,138,251,1);}
/* color-red */
.color-red{color:rgba(255,0,0,1);}
/* bg-red */
.bg-red{background-color:rgba(255,0,0,1);}
/* color-hover-white-28 */
.color-hover-white-28:hover{color:rgba(255,255,255,0.28);}
/* color-bFFCFa */
.color-bFFCFa{color:rgba(191,252,250,1);}
/* color-active-BBb */
.color-active-BBb:active{color:rgba(187,187,187,1);}
/* c-C32aC3-37 */
.c-C32aC3-37{color:rgba(195,42,195,0.37);}
/* color-bAcEED-100 */
.color-bAcEED-100{color:rgba(186,206,237,1.00);}
/* color-dAC6Ba */
.color-dAC6Ba{color:rgba(218,198,186,1);}
/* color-visited-e3E-36 */
.color-visited-e3E-36:visited{color:rgba(238,51,238,0.36);}
/* c-hover-CAE */
.c-hover-CAE:hover{color:rgba(204,170,238,1);}
/* color-DBB */
.color-DBB{color:rgba(221,187,187,1);}
/* color-link-FCC */
.color-link-FCC:link{color:rgba(255,204,204,1);}
/* color-link-DC4cBA */
.color-link-DC4cBA:link{color:rgba(220,76,186,1);}
/* border-c-hover-white */
.border-c-hover-white:hover{border-color:rgba(255,255,255,1);}
/* color-FFcAEc */
.color-FFcAEc{color:rgba(255,202,236,1);}
/* color-eEcCCD-93 */
.color-eEcCCD-93{color:rgba(238,204,205,0.93);}
/* text-link-red-79 */
.text-link-red-79:link{color:rgba(255,0,0,0.79);}
/* c-hover-E3eDF0-62 */
.c-hover-E3eDF0-62:hover{color:rgba(227,237,240,0.62);}
/* color-white-33 */
.color-white-33{color:rgba(255,255,255,0.33);}
/* color-link-CdB */
.color-link-CdB:link{color:rgba(204,221,187,1);}
/* color-visited-0deaDe-46 */
.color-visited-0deaDe-46:visited{color:rgba(13,234,222,0.46);}
/* color-hover-dDD-37 */
.color-hover-dDD-37:hover{color:rgba(221,221,221,0.37);}
/* border-color-hover-1DDBEb-63 */
.border-color-hover-1DDBEb-63:hover{border-color:rgba(29,219,235,0.63);}
/* color-C1e16E-100 */
.color-C1e16E-100{color:rgba(193,225,110,1.00);}
/* color-visited-7bE-100 */
.color-visited-7bE-100:visited{color:rgba(119,187,238,1.00);}
/* border-c-white */
.border-c-white{border-color:rgba(255,255,255,1);}
/* c-red-81 */
.c-red-81{color:rgba(255,0,0,0.81);}
/* text-black */
.text-black{color:rgba(0,0,0,1);}
/* color-link-1BBa8d */
.color-link-1BBa8d:link{color:rgba(27,186,141,1);}
/* bg-red */

/* color-link-Dc9C1E-100 */
.color-link-Dc9C1E-100:link{color:rgba(220,156,30,1.00);}
/* color-hover-white */
.color-hover-white:hover{color:rgba(255,255,255,1);}
/* color-link-white */
.color-link-white:link{color:rgba(255,255,255,1);}
/* color-red */

/* color-link-b1D-100 */
.color-link-b1D-100:link{color:rgba(187,17,221,1.00);}
/* color-DDDC31 */
.color-DDDC31{color:rgba(221,220,49,1);}
/* color-blue-100 */
.color-blue-100{color:rgba(0,0,255,1.00);}
/* color-C7dAEB-100 */
.color-C7dAEB-100{color:rgba(199,218,235,1.00);}
/* color-visited-FE8D17-57 */
.color-visited-FE8D17-57:visited{color:rgba(254,141,23,0.57);}
/* text-visited-5bCD0E */
.text-visited-5bCD0E:visited{color:rgba(91,205,14,1);}
/* color-8E9 */
.color-8E9{color:rgba(136,238,153,1);}
/* text-visited-red-35 */
.text-visited-red-35:visited{color:rgba(255,0,0,0.35);}
/* bg-red-96 */
.bg-red-96{background-color:rgba(255,0,0,0.96);}
/* color-red */

/* color-38Ea8f-100 */
.color-38Ea8f-100{color:rgba(56,234,143,1.00);}
/* border-c-active-5db26F-100 */
.border-c-active-5db26F-100:active{border-color:rgba(93,178,111,1.00);}
/* color-link-fCCECb-100 */
.color-link-fCCECb-100:link{color:rgba(252,206,203,1.00);}
/* color-hover-3DD-86 */
.color-hover-3DD-86:hover{color:rgba(51,221,221,0.86);}
/* color-white */

/* color-hover-black-100 */
.color-hover-black-100:hover{color:rgba(0,0,0,1.00);}
/* text-Be01BB */
.text-Be01BB{color:rgba(190,1,187,1);}
/* color-1FbCB4 */
.color-1FbCB4{color:rgba(31,188,180,1);}
/* c-hover-white */
.c-hover-white:hover{color:rgba(255,255,255,1);}
/* color-EC36BF */
.color-EC36BF{color:rgba(236,54,191,1);}
/* c-3B3 */
.c-3B3{color:rgba(51,187,51,1);}
/* color-link-BCfbCE-100 */
.color-link-BCfbCE-100:link{color:rgba(188,251,206,1.00);}
/* bg-hover-4BE */
.bg-hover-4BE:hover{background-color:rgba(68,187,238,1);}
/* color-hover-ECBbB5-49 */
.color-hover-ECBbB5-49:hover{color:rgba(236,187,181,0.49);}
/* color-hover-FBbDFB */
.color-hover-FBbDFB:hover{color:rgba(251,189,251,1);}
/* text-red-45 */
.text-red-45{color:rgba(255,0,0,0.45);}
/* c-d74DB5 */
.c-d74DB5{color:rgba(215,77,181,1);}
/* color-visited-322-84 */
.color-visited-322-84:visited{color:rgba(51,34,34,0.84);}
/* color-CCda5e */
.color-CCda5e{color:rgba(204,218,94,1);}
/* color-link-transparent */
.color-link-transparent:link{color:transparent;}
/* c-hover-C9FFDD */
.c-hover-C9FFDD:hover{color:rgba(201,255,221,1);}
/* color-hover-red */

/* color-link-DC79e6 */
.color-link-DC79e6:link{color:rgba(220,121,230,1);}
/* color-link-79d-100 */
.color-link-79d-100:link{color:rgba(119,153,221,1.00);}
/* color-E3dbAB-65 */
.color-E3dbAB-65{color:rgba(227,219,171,0.65);}
