/* cursor-auto */
.cursor-auto{cursor:auto;}
/* cursor-auto */

/* cursor-auto */

/* cursor-auto */

/* cursor-auto */

/* cursor-default */
.cursor-default{cursor:default;}
/* cursor-auto */

/* cursor-none */
.cursor-none{cursor:none;}
/* cursor-none */

/* cursor-auto */

/* cursor-auto */

/* cursor-wait */
.cursor-wait{cursor:wait;}
/* cursor-default */

/* cursor-auto */

/* cursor-auto */

/* cursor-auto */

/* cursor-auto */

/* cursor-context-menu */
.cursor-context-menu{cursor-context:menu;}
/* cursor-auto */

/* cursor-context-menu */

/* cursor-default */

/* cursor-default */

/* cursor-auto */

/* cursor-auto */

/* cursor-help */
.cursor-help{cursor:help;}
/* cursor-auto */

/* cursor-default */

/* cursor-auto */

/* cursor-default */

/* cursor-auto */

/* cursor-context-menu */

/* cursor-default */

/* cursor-default */

/* cursor-auto */

/* cursor-none */

/* cursor-auto */

/* cursor-none */

/* cursor-auto */

/* cursor-auto */

/* cursor-auto */

/* cursor-auto */

/* cursor-auto */

/* cursor-default */

/* cursor-auto */

/* cursor-default */

/* cursor-default */

/* cursor-auto */

/* cursor-context-menu */

/* cursor-auto */

/* cursor-none */

/* cursor-auto */

/* cursor-auto */

/* cursor-default */

/* cursor-auto */

/* cursor-auto */

/* cursor-auto */

/* cursor-auto */

/* cursor-default */

/* cursor-auto */

/* cursor-auto */

/* cursor-auto */

/* cursor-auto */

/* cursor-auto */

/* cursor-default */

/* cursor-auto */

/* cursor-auto */

/* cursor-auto */

/* cursor-context-menu */

/* cursor-context-menu */

/* cursor-context-menu */

/* cursor-auto */

/* cursor-auto */

/* cursor-default */

/* cursor-crosshair */
.cursor-crosshair{cursor:crosshair;}
/* cursor-auto */

/* cursor-auto */

/* cursor-auto */

/* cursor-auto */

/* cursor-none */

/* cursor-auto */

/* cursor-default */

/* cursor-auto */

/* cursor-none */

/* cursor-default */

/* cursor-auto */

/* cursor-default */

/* cursor-context-menu */

/* cursor-auto */

/* cursor-auto */

/* cursor-help */

/* cursor-context-menu */

/* cursor-none */

/* cursor-help */

/* cursor-auto */

/* cursor-auto */

/* cursor-progress */
.cursor-progress{cursor:progress;}
/* cursor-auto */

/* cursor-text */
.cursor-text{cursor:text;}
/* cursor-auto */

/* cursor-auto */

