/* cursor-auto */
.cursor-auto{cursor:auto;}
/* cursor-default */
.cursor-default{cursor:default;}
/* cursor-default */

/* cursor-default */

/* cursor-default */

/* cursor-default */

/* cursor-auto */

/* cursor-auto */

/* cursor-none */
.cursor-none{cursor:none;}
/* cursor-default */

/* cursor-default */

/* cursor-auto */

/* cursor-auto */

/* cursor-context-menu */
.cursor-context-menu{cursor:context-menu;}
/* cursor-none */

/* cursor-auto */

/* cursor-pointer */
.cursor-pointer{cursor:pointer;}
/* cursor-auto */

/* cursor-auto */

/* cursor-default */

/* cursor-help */
.cursor-help{cursor:help;}
/* cursor-auto */

/* cursor-auto */

/* cursor-context-menu */

/* cursor-auto */

/* cursor-default */

/* cursor-none */

/* cursor-auto */

/* cursor-auto */

/* cursor-default */

/* cursor-auto */

/* cursor-context-menu */

/* cursor-auto */

/* cursor-none */

/* cursor-default */

/* cursor-wait */
.cursor-wait{cursor:wait;}
/* cursor-none */

/* cursor-auto */

/* cursor-default */

/* cursor-help */

/* cursor-auto */

/* cursor-default */

/* cursor-context-menu */

/* cursor-context-menu */

/* cursor-auto */

/* cursor-default */

/* cursor-default */

/* cursor-none */

/* cursor-auto */

/* cursor-auto */

/* cursor-auto */

/* cursor-default */

/* cursor-context-menu */

/* cursor-context-menu */

/* cursor-default */

/* cursor-help */

/* cursor-auto */

/* cursor-auto */

/* cursor-auto */

/* cursor-default */

/* cursor-default */

/* cursor-default */

/* cursor-default */

/* cursor-auto */

/* cursor-default */

/* cursor-auto */

/* cursor-auto */

/* cursor-auto */

/* cursor-auto */

/* cursor-default */

/* cursor-default */

/* cursor-auto */

/* cursor-default */

/* cursor-default */

/* cursor-default */

/* cursor-auto */

/* cursor-context-menu */

/* cursor-auto */

/* cursor-auto */

/* cursor-auto */

/* cursor-auto */

/* cursor-none */

/* cursor-default */

/* cursor-none */

/* cursor-auto */

/* cursor-default */

/* cursor-default */

/* cursor-default */

/* cursor-auto */

/* cursor-default */

/* cursor-default */

/* cursor-auto */

/* cursor-auto */

/* cursor-auto */

/* cursor-default */

/* cursor-context-menu */

/* cursor-auto */

/* cursor-default */

/* cursor-default */

/* cursor-auto */

