/* flex-basis-0 */
.flex-basis-0{flex-basis:0;}
/* flex-basis-initial */
.flex-basis-initial{flex-basis:initial;}
/* flex-basis-initial */

/* flex-basis-28 */
.flex-basis-28{flex-basis:28px;}
/* flex-basis-67em */
.flex-basis-67em{flex-basis:67em;}
/* flex-basis-initial */

/* flex-basis-initial */

/* flex-basis-6530em */
.flex-basis-6530em{flex-basis:6530em;}
/* flex-basis-318rem */
.flex-basis-318rem{flex-basis:318rem;}
/* flex-basis-3527975rem */
.flex-basis-3527975rem{flex-basis:3527975rem;}
/* flex-basis-0rem */
.flex-basis-0rem{flex-basis:0;}
/* flex-basis-7rem */
.flex-basis-7rem{flex-basis:7rem;}
/* flex-basis-0em */
.flex-basis-0em{flex-basis:0;}
/* flex-basis-initial */

/* flex-basis-initial */

/* flex-basis-initial */

/* flex-basis-0 */

/* flex-basis-auto */
.flex-basis-auto{flex-basis:auto;}
/* flex-basis-initial */

/* flex-basis-initial */

/* flex-basis-0 */

/* flex-basis-auto */

/* flex-basis-74rem */
.flex-basis-74rem{flex-basis:74rem;}
/* flex-basis-initial */

/* flex-basis-auto */

/* flex-basis-0 */

/* flex-basis-auto */

/* flex-basis-initial */

/* flex-basis-0 */

/* flex-basis-inherit */
.flex-basis-inherit{flex-basis:inherit;}
/* flex-basis-0 */

/* flex-basis-initial */

/* flex-basis-initial */

/* flex-basis-687562rem */
.flex-basis-687562rem{flex-basis:687562rem;}
/* flex-basis-inherit */

/* flex-basis-auto */

/* flex-basis-initial */

/* flex-basis-initial */

/* flex-basis-initial */

/* flex-basis-inherit */

/* flex-basis-38rem */
.flex-basis-38rem{flex-basis:38rem;}
/* flex-basis-91035em */
.flex-basis-91035em{flex-basis:91035em;}
/* flex-basis-0 */

/* flex-basis-53 */
.flex-basis-53{flex-basis:53px;}
/* flex-basis-0 */

/* flex-basis-0rem */

/* flex-basis-352 */
.flex-basis-352{flex-basis:352px;}
/* flex-basis-initial */

/* flex-basis-initial */

/* flex-basis-initial */

/* flex-basis-46rem */
.flex-basis-46rem{flex-basis:46rem;}
/* flex-basis-initial */

/* flex-basis-0rem */

/* flex-basis-0em */

/* flex-basis-initial */

/* flex-basis-initial */

/* flex-basis-26rem */
.flex-basis-26rem{flex-basis:26rem;}
/* flex-basis-auto */

/* flex-basis-inherit */

/* flex-basis-initial */

/* flex-basis-217em */
.flex-basis-217em{flex-basis:217em;}
/* flex-basis-inherit */

/* flex-basis-0rem */

/* flex-basis-initial */

/* flex-basis-auto */

/* flex-basis-43568em */
.flex-basis-43568em{flex-basis:43568em;}
/* flex-basis-7134 */
.flex-basis-7134{flex-basis:7134px;}
/* flex-basis-inherit */

/* flex-basis-0 */

/* flex-basis-5437p */
.flex-basis-5437p{flex-basis:5437%;}
/* flex-basis-auto */

/* flex-basis-initial */

/* flex-basis-inherit */

/* flex-basis-initial */

/* flex-basis-6 */
.flex-basis-6{flex-basis:6px;}
/* flex-basis-838507em */
.flex-basis-838507em{flex-basis:838507em;}
/* flex-basis-initial */

/* flex-basis-initial */

/* flex-basis-inherit */

/* flex-basis-inherit */

/* flex-basis-inherit */

/* flex-basis-auto */

/* flex-basis-inherit */

/* flex-basis-inherit */

/* flex-basis-27em */
.flex-basis-27em{flex-basis:27em;}
/* flex-basis-0 */

/* flex-basis-auto */

/* flex-basis-initial */

/* flex-basis-97 */
.flex-basis-97{flex-basis:97px;}
/* flex-basis-0 */

/* flex-basis-8123rem */
.flex-basis-8123rem{flex-basis:8123rem;}
/* flex-basis-0 */

/* flex-basis-auto */

/* flex-basis-0em */

/* flex-basis-21 */
.flex-basis-21{flex-basis:21px;}
/* flex-basis-0 */

/* flex-basis-1rem */
.flex-basis-1rem{flex-basis:1rem;}
/* flex-basis-0vw */
.flex-basis-0vw{flex-basis:0;}
/* flex-basis-8649vw */
.flex-basis-8649vw{flex-basis:8649vw;}
/* flex-basis-inherit */

