/* flex-shrink-0 */
.flex-shrink-0{flex-shrink:0;}
/* flex-shrink-inherit */
.flex-shrink-inherit{flex-shrink:inherit;}
/* flex-shrink-0 */

/* flex-shrink-inherit */

/* flex-shrink-inherit */

/* flex-shrink-initial */
.flex-shrink-initial{flex-shrink:initial;}
/* flex-shrink-0 */

/* flex-shrink-0 */

/* flex-shrink-0 */

/* flex-shrink-initial */

/* flex-shrink-0 */

/* flex-shrink-initial */

/* flex-shrink-0 */

/* flex-shrink-0 */

/* flex-shrink-87 */
.flex-shrink-87{flex-shrink:87;}
/* flex-shrink-1 */
.flex-shrink-1{flex-shrink:1;}
/* flex-shrink-initial */

/* flex-shrink-0 */

/* flex-shrink-inherit */

/* flex-shrink-18 */
.flex-shrink-18{flex-shrink:18;}
/* flex-shrink-inherit */

/* flex-shrink-inherit */

/* flex-shrink-0 */

/* flex-shrink-0 */

/* flex-shrink-855260 */
.flex-shrink-855260{flex-shrink:855260;}
/* flex-shrink-inherit */

/* flex-shrink-inherit */

/* flex-shrink-initial */

/* flex-shrink-0 */

/* flex-shrink-initial */

/* flex-shrink-0 */

/* flex-shrink-717 */
.flex-shrink-717{flex-shrink:717;}
/* flex-shrink-9311 */
.flex-shrink-9311{flex-shrink:9311;}
/* flex-shrink-0 */

/* flex-shrink-initial */

/* flex-shrink-0 */

/* flex-shrink-0 */

/* flex-shrink-inherit */

/* flex-shrink-initial */

/* flex-shrink-0 */

/* flex-shrink-initial */

/* flex-shrink-inherit */

/* flex-shrink-0 */

/* flex-shrink-8 */
.flex-shrink-8{flex-shrink:8;}
/* flex-shrink-initial */

/* flex-shrink-4 */
.flex-shrink-4{flex-shrink:4;}
/* flex-shrink-0 */

/* flex-shrink-initial */

/* flex-shrink-inherit */

/* flex-shrink-0 */

/* flex-shrink-initial */

/* flex-shrink-0 */

/* flex-shrink-inherit */

/* flex-shrink-0 */

/* flex-shrink-inherit */

/* flex-shrink-inherit */

/* flex-shrink-43 */
.flex-shrink-43{flex-shrink:43;}
/* flex-shrink-0 */

/* flex-shrink-inherit */

/* flex-shrink-0 */

/* flex-shrink-29535049 */
.flex-shrink-29535049{flex-shrink:29535049;}
/* flex-shrink-initial */

/* flex-shrink-inherit */

/* flex-shrink-0 */

/* flex-shrink-initial */

/* flex-shrink-668 */
.flex-shrink-668{flex-shrink:668;}
/* flex-shrink-inherit */

/* flex-shrink-inherit */

/* flex-shrink-initial */

/* flex-shrink-0 */

/* flex-shrink-8 */

/* flex-shrink-0 */

/* flex-shrink-6591334 */
.flex-shrink-6591334{flex-shrink:6591334;}
/* flex-shrink-74176 */
.flex-shrink-74176{flex-shrink:74176;}
/* flex-shrink-inherit */

/* flex-shrink-0 */

/* flex-shrink-inherit */

/* flex-shrink-inherit */

/* flex-shrink-65 */
.flex-shrink-65{flex-shrink:65;}
/* flex-shrink-inherit */

/* flex-shrink-7813 */
.flex-shrink-7813{flex-shrink:7813;}
/* flex-shrink-9448 */
.flex-shrink-9448{flex-shrink:9448;}
/* flex-shrink-initial */

/* flex-shrink-0 */

/* flex-shrink-initial */

/* flex-shrink-inherit */

/* flex-shrink-0 */

/* flex-shrink-0 */

/* flex-shrink-inherit */

/* flex-shrink-0 */

/* flex-shrink-0 */

/* flex-shrink-0 */

/* flex-shrink-0 */

/* flex-shrink-initial */

/* flex-shrink-initial */

/* flex-shrink-initial */

/* flex-shrink-2 */
.flex-shrink-2{flex-shrink:2;}
/* flex-shrink-392 */
.flex-shrink-392{flex-shrink:392;}
/* flex-shrink-inherit */

/* flex-shrink-inherit */

