/* flex-auto-auto */
.flex-auto-auto{display:flex;justify-content:auto;align-items:auto;}
/* flex-flex-end-auto */
.flex-flex-end-auto{display:flex;justify-content:flex-end;align-items:auto;}
/* flex-auto-auto */

/* flex-flex-start-auto */
.flex-flex-start-auto{display:flex;justify-content:flex-start;align-items:auto;}
/* flex-flex-start-auto */

/* flex-auto-auto */

/* flex-auto-auto */

/* flex-flex-start-auto */

/* flex-flex-start-flex-start */
.flex-flex-start-flex-start{display:flex;justify-content:flex-start;align-items:flex-start;}
/* flex-auto-auto */

/* flex-flex-start-auto */

/* flex-auto-stretch */
.flex-auto-stretch{display:flex;justify-content:auto;align-items:stretch;}
/* flex-center-auto */
.flex-center-auto{display:flex;justify-content:center;align-items:auto;}
/* flex-auto-flex-start */
.flex-auto-flex-start{display:flex;justify-content:auto;align-items:flex-start;}
/* flex-flex-start-auto */

/* flex-flex-start-flex-end */
.flex-flex-start-flex-end{display:flex;justify-content:flex-start;align-items:flex-end;}
/* flex-auto-auto */

/* flex-flex-start-flex-start */

/* flex-auto-flex-start */

/* flex-auto-flex-start */

/* flex-auto-auto */

/* flex-auto-flex-end */
.flex-auto-flex-end{display:flex;justify-content:auto;align-items:flex-end;}
/* flex-flex-start-flex-end */

/* flex-flex-end-stretch */
.flex-flex-end-stretch{display:flex;justify-content:flex-end;align-items:stretch;}
/* flex-auto-flex-start */

/* flex-flex-start-auto */

/* flex-auto-auto */

/* flex-auto-auto */

/* flex-center-flex-end */
.flex-center-flex-end{display:flex;justify-content:center;align-items:flex-end;}
/* flex-center-auto */

/* flex-auto-auto */

/* flex-flex-start-auto */

/* flex-auto-auto */

/* flex-flex-end-flex-start */
.flex-flex-end-flex-start{display:flex;justify-content:flex-end;align-items:flex-start;}
/* flex-flex-start-auto */

/* flex-center-center */
.flex-center-center{display:flex;justify-content:center;align-items:center;}
/* flex-flex-start-auto */

/* flex-auto-stretch */

/* flex-flex-end-auto */

/* flex-auto-auto */

/* flex-auto-flex-start */

/* flex-flex-start-flex-start */

/* flex-center-auto */

/* flex-auto-flex-start */

/* flex-auto-flex-end */

/* flex-flex-start-auto */

/* flex-flex-start-flex-start */

/* flex-flex-start-flex-end */

/* flex-flex-end-auto */

/* flex-auto-flex-start */

/* flex-auto-stretch */

/* flex-flex-start-auto */

/* flex-flex-start-flex-start */

/* flex-flex-start-stretch */
.flex-flex-start-stretch{display:flex;justify-content:flex-start;align-items:stretch;}
/* flex-flex-end-auto */

/* flex-auto-flex-start */

/* flex-auto-auto */

/* flex-auto-auto */

/* flex-flex-end-auto */

/* flex-flex-start-auto */

/* flex-auto-flex-start */

/* flex-auto-center */
.flex-auto-center{display:flex;justify-content:auto;align-items:center;}
/* flex-auto-auto */

/* flex-auto-auto */

/* flex-auto-flex-start */

/* flex-flex-start-flex-end */

/* flex-flex-end-auto */

/* flex-auto-flex-start */

/* flex-flex-start-flex-start */

/* flex-auto-flex-start */

/* flex-auto-flex-start */

/* flex-auto-auto */

/* flex-auto-auto */

/* flex-auto-flex-start */

/* flex-flex-start-flex-start */

/* flex-auto-auto */

/* flex-center-flex-start */
.flex-center-flex-start{display:flex;justify-content:center;align-items:flex-start;}
/* flex-flex-start-auto */

/* flex-flex-start-flex-start */

/* flex-auto-center */

/* flex-space-around-center */
.flex-space-around-center{display:flex;justify-content:space-around;align-items:center;}
/* flex-auto-flex-end */

/* flex-flex-end-flex-end */
.flex-flex-end-flex-end{display:flex;justify-content:flex-end;align-items:flex-end;}
/* flex-space-between-flex-start */
.flex-space-between-flex-start{display:flex;justify-content:space-between;align-items:flex-start;}
/* flex-auto-auto */

/* flex-auto-auto */

/* flex-auto-auto */

/* flex-center-auto */

/* flex-auto-flex-end */

/* flex-flex-start-flex-start */

/* flex-auto-flex-end */

/* flex-auto-auto */

/* flex-center-auto */

/* flex-auto-auto */

/* flex-auto-flex-start */

/* flex-auto-center */

/* flex-flex-start-auto */

/* flex-auto-flex-end */

/* flex-auto-flex-start */

/* flex-auto-flex-start */

