/* fw-600 */
.fw-600{font-weight:600;}
/* font-weight-700 */
.font-weight-700{font-weight:weight;}
/* fw-300 */
.fw-300{font-weight:300;}
/* fw-normal */
.fw-normal{font-weight:normal;}
/* fw-700 */
.fw-700{font-weight:700;}
/* font-weight-100 */
.font-weight-100{font-weight:weight;}
/* fw-800 */
.fw-800{font-weight:800;}
/* fw-800 */

/* fw-800 */

/* font-weight-normal */
.font-weight-normal{font-weight:weight;}
/* fw-bold */
.fw-bold{font-weight:bold;}
/* fw-normal */

/* font-weight-600 */
.font-weight-600{font-weight:weight;}
/* font-weight-200 */
.font-weight-200{font-weight:weight;}
/* font-weight-normal */

/* font-weight-bolder */
.font-weight-bolder{font-weight:weight;}
/* fw-normal */

/* fw-900 */
.fw-900{font-weight:900;}
/* font-weight-900 */
.font-weight-900{font-weight:weight;}
/* fw-200 */
.fw-200{font-weight:200;}
/* fw-500 */
.fw-500{font-weight:500;}
/* font-weight-800 */
.font-weight-800{font-weight:weight;}
/* font-weight-bolder */

/* font-weight-300 */
.font-weight-300{font-weight:weight;}
/* fw-300 */

/* font-weight-500 */
.font-weight-500{font-weight:weight;}
/* fw-800 */

/* font-weight-normal */

/* font-weight-normal */

/* fw-800 */

/* fw-normal */

/* font-weight-unset */
.font-weight-unset{font-weight:weight;}
/* fw-800 */

/* fw-normal */

/* font-weight-600 */

/* font-weight-bold */
.font-weight-bold{font-weight:weight;}
/* font-weight-bolder */

/* font-weight-bolder */

/* fw-normal */

/* fw-normal */

/* fw-normal */

/* font-weight-bold */

/* fw-normal */

/* font-weight-bold */

/* font-weight-inherit */
.font-weight-inherit{font-weight:weight;}
/* fw-700 */

/* fw-100 */
.fw-100{font-weight:100;}
/* font-weight-700 */

/* fw-500 */

/* font-weight-normal */

/* font-weight-normal */

/* font-weight-600 */

/* fw-bolder */
.fw-bolder{font-weight:bolder;}
/* font-weight-bold */

/* font-weight-600 */

/* font-weight-600 */

/* fw-normal */

/* font-weight-bold */

/* font-weight-300 */

/* font-weight-bold */

/* fw-600 */

/* fw-500 */

/* fw-600 */

/* font-weight-normal */

/* fw-normal */

/* font-weight-500 */

/* font-weight-700 */

/* fw-bolder */

/* fw-900 */

/* font-weight-normal */

/* font-weight-900 */

/* font-weight-bold */

/* fw-normal */

/* fw-100 */

/* fw-bolder */

/* fw-normal */

/* fw-700 */

/* font-weight-lighter */
.font-weight-lighter{font-weight:weight;}
/* font-weight-500 */

/* fw-500 */

/* fw-normal */

/* fw-initial */
.fw-initial{font-weight:initial;}
/* fw-800 */

/* fw-inherit */
.fw-inherit{font-weight:inherit;}
/* font-weight-700 */

/* fw-normal */

/* font-weight-normal */

/* font-weight-600 */

/* fw-600 */

/* fw-800 */

/* fw-normal */

/* fw-normal */

/* font-weight-300 */

/* font-weight-normal */

/* fw-800 */

/* font-weight-300 */

/* fw-lighter */
.fw-lighter{font-weight:lighter;}
/* font-weight-bolder */

/* font-weight-normal */

/* font-weight-unset */

