/* font-weight-bold */
.font-weight-bold{font-weight:weight;}
/* font-weight-700 */
.font-weight-700{font-weight:weight;}
/* font-weight-normal */
.font-weight-normal{font-weight:weight;}
/* fw-700 */
.fw-700{font-weight:700;}
/* fw-normal */
.fw-normal{font-weight:normal;}
/* fw-initial */
.fw-initial{font-weight:initial;}
/* fw-normal */

/* fw-300 */
.fw-300{font-weight:300;}
/* font-weight-normal */

/* fw-800 */
.fw-800{font-weight:800;}
/* font-weight-normal */

/* font-weight-700 */

/* fw-600 */
.fw-600{font-weight:600;}
/* font-weight-400 */
.font-weight-400{font-weight:weight;}
/* font-weight-bolder */
.font-weight-bolder{font-weight:weight;}
/* fw-bold */
.fw-bold{font-weight:bold;}
/* fw-600 */

/* font-weight-400 */

/* font-weight-200 */
.font-weight-200{font-weight:weight;}
/* font-weight-200 */

/* font-weight-400 */

/* font-weight-300 */
.font-weight-300{font-weight:weight;}
/* font-weight-normal */

/* font-weight-normal */

/* font-weight-900 */
.font-weight-900{font-weight:weight;}
/* font-weight-400 */

/* font-weight-normal */

/* font-weight-500 */
.font-weight-500{font-weight:weight;}
/* fw-400 */
.fw-400{font-weight:400;}
/* font-weight-100 */
.font-weight-100{font-weight:weight;}
/* font-weight-normal */

/* font-weight-normal */

/* fw-600 */

/* fw-normal */

/* font-weight-normal */

/* fw-bold */

/* fw-bolder */
.fw-bolder{font-weight:bolder;}
/* font-weight-bold */

/* font-weight-normal */

/* fw-600 */

/* font-weight-600 */
.font-weight-600{font-weight:weight;}
/* font-weight-800 */
.font-weight-800{font-weight:weight;}
/* fw-800 */

/* fw-bold */

/* fw-bold */

/* fw-700 */

/* font-weight-100 */

/* fw-inherit */
.fw-inherit{font-weight:inherit;}
/* font-weight-200 */

/* fw-normal */

/* font-weight-bold */

/* font-weight-100 */

/* font-weight-700 */

/* fw-bolder */

/* font-weight-bold */

/* fw-500 */
.fw-500{font-weight:500;}
/* fw-bold */

/* font-weight-700 */

/* font-weight-inherit */
.font-weight-inherit{font-weight:weight;}
/* font-weight-800 */

/* fw-bold */

/* font-weight-normal */

/* font-weight-normal */

/* font-weight-900 */

/* font-weight-800 */

/* font-weight-800 */

/* fw-inherit */

/* fw-normal */

/* fw-bolder */

/* font-weight-inherit */

/* fw-bold */

/* fw-700 */

/* fw-bold */

/* fw-800 */

/* font-weight-800 */

/* fw-bold */

/* font-weight-bold */

/* font-weight-bolder */

/* font-weight-normal */

/* font-weight-600 */

/* fw-bold */

/* font-weight-700 */

/* font-weight-normal */

/* fw-normal */

/* fw-300 */

/* font-weight-600 */

/* font-weight-500 */

/* font-weight-normal */

/* font-weight-normal */

/* fw-bold */

/* fw-500 */

/* fw-600 */

/* font-weight-500 */

/* font-weight-bold */

/* font-weight-normal */

/* font-weight-bold */

/* font-weight-300 */

/* fw-600 */

/* font-weight-normal */

/* font-weight-initial */
.font-weight-initial{font-weight:weight;}
