/* font-size-0em */
.font-size-0em{font-size:0;}
/* font-size-0em */

/* font-size-0vw */
.font-size-0vw{font-size:0;}
/* font-size-0 */
.font-size-0{font-size:0;}
/* fs-35em */
.fs-35em{font-size:35em;}
/* fs-7 */
.fs-7{font-size:7px;}
/* font-size-3981 */
.font-size-3981{font-size:3981px;}
/* fs-5407 */
.fs-5407{font-size:5407px;}
/* fs-0 */
.fs-0{font-size:0;}
/* font-size-35186 */
.font-size-35186{font-size:35186px;}
/* font-size-0 */

/* fs-5241vw */
.fs-5241vw{font-size:5241vw;}
/* fs-2394944 */
.fs-2394944{font-size:2394944px;}
/* fs-93rem */
.fs-93rem{font-size:93rem;}
/* fs-0em */
.fs-0em{font-size:0;}
/* fs-0 */

/* fs-222 */
.fs-222{font-size:222px;}
/* font-size-0 */

/* font-size-401700vw */
.font-size-401700vw{font-size:401700vw;}
/* fs-304 */
.fs-304{font-size:304px;}
/* fs-0rem */
.fs-0rem{font-size:0;}
/* fs-492 */
.fs-492{font-size:492px;}
/* font-size-0 */

/* font-size-769715 */
.font-size-769715{font-size:769715px;}
/* fs-67470rem */
.fs-67470rem{font-size:67470rem;}
/* font-size-311 */
.font-size-311{font-size:311px;}
/* fs-0 */

/* font-size-131rem */
.font-size-131rem{font-size:131rem;}
/* fs-85rem */
.fs-85rem{font-size:85rem;}
/* fs-557030 */
.fs-557030{font-size:557030px;}
/* fs-0 */

/* font-size-0 */

/* fs-0 */

/* font-size-0rem */
.font-size-0rem{font-size:0;}
/* fs-74rem */
.fs-74rem{font-size:74rem;}
/* fs-0 */

/* fs-311rem */
.fs-311rem{font-size:311rem;}
/* fs-1462vw */
.fs-1462vw{font-size:1462vw;}
/* font-size-0 */

/* fs-0em */

/* font-size-0 */

/* font-size-0rem */

/* font-size-0em */

/* fs-7343875 */
.fs-7343875{font-size:7343875px;}
/* font-size-983em */
.font-size-983em{font-size:983em;}
/* fs-81vh */
.fs-81vh{font-size:81vh;}
/* fs-8 */
.fs-8{font-size:8px;}
/* fs-44339rem */
.fs-44339rem{font-size:44339rem;}
/* font-size-0vw */

/* fs-0rem */

/* fs-499rem */
.fs-499rem{font-size:499rem;}
/* fs-236 */
.fs-236{font-size:236px;}
/* fs-259 */
.fs-259{font-size:259px;}
/* fs-8205 */
.fs-8205{font-size:8205px;}
/* fs-0 */

/* font-size-0 */

/* font-size-0 */

/* font-size-0 */

/* fs-0rem */

/* fs-8325 */
.fs-8325{font-size:8325px;}
/* font-size-541 */
.font-size-541{font-size:541px;}
/* font-size-884891em */
.font-size-884891em{font-size:884891em;}
/* font-size-885371p */
.font-size-885371p{font-size:885371%;}
/* fs-3112966 */
.fs-3112966{font-size:3112966px;}
/* fs-9961626em */
.fs-9961626em{font-size:9961626em;}
/* fs-681 */
.fs-681{font-size:681px;}
/* fs-7145784 */
.fs-7145784{font-size:7145784px;}
/* fs-0 */

/* font-size-0em */

/* font-size-0rem */

/* fs-61rem */
.fs-61rem{font-size:61rem;}
/* font-size-0 */

/* font-size-372 */
.font-size-372{font-size:372px;}
/* font-size-47rem */
.font-size-47rem{font-size:47rem;}
/* fs-0 */

/* fs-0 */

/* font-size-6 */
.font-size-6{font-size:6px;}
/* font-size-0 */

/* fs-88543rpx */
.fs-88543rpx{font-size:88543rpx;}
/* font-size-0 */

/* font-size-0 */

/* fs-0rem */

/* font-size-7303rem */
.font-size-7303rem{font-size:7303rem;}
/* fs-52455 */
.fs-52455{font-size:52455px;}
/* font-size-18rem */
.font-size-18rem{font-size:18rem;}
/* font-size-0rem */

/* fs-83665em */
.fs-83665em{font-size:83665em;}
/* font-size-0 */

/* fs-0 */

/* font-size-872rem */
.font-size-872rem{font-size:872rem;}
/* fs-314424 */
.fs-314424{font-size:314424px;}
/* fs-0 */

/* fs-77402em */
.fs-77402em{font-size:77402em;}
/* font-size-0em */

/* fs-825 */
.fs-825{font-size:825px;}
/* font-size-0 */

/* font-size-5326em */
.font-size-5326em{font-size:5326em;}
/* fs-1 */
.fs-1{font-size:1px;}
/* fs-11957rem */
.fs-11957rem{font-size:11957rem;}
/* font-size-0 */

