/* fs-46950951 */
.fs-46950951{font-size:46950951px;}
/* font-size-8626686614 */
.font-size-8626686614{font-size:8626686614px;}
/* fs-45 */
.fs-45{font-size:45px;}
/* fs-4666756717em */
.fs-4666756717em{font-size:4666756717em;}
/* font-size-9208626487608732589 */
.font-size-9208626487608732589{font-size:9208626487608732589px;}
/* font-size-77798em */
.font-size-77798em{font-size:77798em;}
/* font-size-935844889145964483 */
.font-size-935844889145964483{font-size:935844889145964483px;}
/* fs-2621887502126613256 */
.fs-2621887502126613256{font-size:2621887502126613256px;}
/* fs-784347rem */
.fs-784347rem{font-size:784347rem;}
/* fs-74786132353868rem */
.fs-74786132353868rem{font-size:74786132353868rem;}
/* font-size-41417146684528044em */
.font-size-41417146684528044em{font-size:41417146684528044em;}
/* fs-3707499129595vw */
.fs-3707499129595vw{font-size:3707499129595vw;}
/* fs-7657477vh */
.fs-7657477vh{font-size:7657477vh;}
/* fs-55858345722358236rem */
.fs-55858345722358236rem{font-size:55858345722358236rem;}
/* font-size-89311567619 */
.font-size-89311567619{font-size:89311567619px;}
/* fs-69182 */
.fs-69182{font-size:69182px;}
/* fs-3634815379756913262 */
.fs-3634815379756913262{font-size:3634815379756913262px;}
/* fs-438563625246186 */
.fs-438563625246186{font-size:438563625246186px;}
/* font-size-842513643357 */
.font-size-842513643357{font-size:842513643357px;}
/* fs-656628185147 */
.fs-656628185147{font-size:656628185147px;}
/* fs-605874835 */
.fs-605874835{font-size:605874835px;}
/* font-size-225985930148rem */
.font-size-225985930148rem{font-size:225985930148rem;}
/* font-size-87381 */
.font-size-87381{font-size:87381px;}
/* fs-61007775783235578451 */
.fs-61007775783235578451{font-size:61007775783235578451px;}
/* font-size-30628rem */
.font-size-30628rem{font-size:30628rem;}
/* font-size-37787724424894 */
.font-size-37787724424894{font-size:37787724424894px;}
/* font-size-754536718561 */
.font-size-754536718561{font-size:754536718561px;}
/* font-size-2678613826875943 */
.font-size-2678613826875943{font-size:2678613826875943px;}
/* font-size-21132844791vh */
.font-size-21132844791vh{font-size:21132844791vh;}
/* fs-819557968036855652185rem */
.fs-819557968036855652185rem{font-size:819557968036855652185rem;}
/* fs-462286385rpx */
.fs-462286385rpx{font-size:462286385rpx;}
/* fs-44414315136567451738vw */
.fs-44414315136567451738vw{font-size:44414315136567451738vw;}
/* fs-13286vh */
.fs-13286vh{font-size:13286vh;}
/* font-size-97976416855436 */
.font-size-97976416855436{font-size:97976416855436px;}
/* fs-9625384164707 */
.fs-9625384164707{font-size:9625384164707px;}
/* font-size-55557752833108 */
.font-size-55557752833108{font-size:55557752833108px;}
/* fs-14544625546em */
.fs-14544625546em{font-size:14544625546em;}
/* fs-8188204 */
.fs-8188204{font-size:8188204px;}
/* fs-8021763 */
.fs-8021763{font-size:8021763px;}
/* font-size-8438182586em */
.font-size-8438182586em{font-size:8438182586em;}
/* font-size-3272em */
.font-size-3272em{font-size:3272em;}
/* font-size-7781782rem */
.font-size-7781782rem{font-size:7781782rem;}
/* font-size-64551183941550357 */
.font-size-64551183941550357{font-size:64551183941550357px;}
/* fs-683781919vw */
.fs-683781919vw{font-size:683781919vw;}
/* fs-6023934994759rem */
.fs-6023934994759rem{font-size:6023934994759rem;}
/* fs-387822770054em */
.fs-387822770054em{font-size:387822770054em;}
/* font-size-538px */
.font-size-538px{font-size:538px;}
/* font-size-441446271619048311573rem */
.font-size-441446271619048311573rem{font-size:441446271619048311573rem;}
/* fs-576268512426174828rem */
.fs-576268512426174828rem{font-size:576268512426174828rem;}
/* font-size-28273 */
.font-size-28273{font-size:28273px;}
/* font-size-551888em */
.font-size-551888em{font-size:551888em;}
/* font-size-5219em */
.font-size-5219em{font-size:5219em;}
/* fs-31327014126734093151611771vw */
.fs-31327014126734093151611771vw{font-size:31327014126734093151611771vw;}
/* font-size-23640424109811622487 */
.font-size-23640424109811622487{font-size:23640424109811622487px;}
/* fs-7442777558rem */
.fs-7442777558rem{font-size:7442777558rem;}
/* font-size-270764724 */
.font-size-270764724{font-size:270764724px;}
/* fs-756276187vh */
.fs-756276187vh{font-size:756276187vh;}
/* fs-851883 */
.fs-851883{font-size:851883px;}
/* font-size-6896935 */
.font-size-6896935{font-size:6896935px;}
/* font-size-38434448233em */
.font-size-38434448233em{font-size:38434448233em;}
/* font-size-5683387rpx */
.font-size-5683387rpx{font-size:5683387rpx;}
/* fs-433565873258246465948rem */
.fs-433565873258246465948rem{font-size:433565873258246465948rem;}
/* fs-48913466rem */
.fs-48913466rem{font-size:48913466rem;}
/* font-size-417380914564rem */
.font-size-417380914564rem{font-size:417380914564rem;}
/* fs-766628763879687434 */
.fs-766628763879687434{font-size:766628763879687434px;}
/* fs-412228573779612665713314 */
.fs-412228573779612665713314{font-size:412228573779612665713314px;}
/* fs-874535644365rem */
.fs-874535644365rem{font-size:874535644365rem;}
/* fs-555684 */
.fs-555684{font-size:555684px;}
/* font-size-4356466563 */
.font-size-4356466563{font-size:4356466563px;}
/* font-size-85443548289 */
.font-size-85443548289{font-size:85443548289px;}
/* font-size-73467171516233rem */
.font-size-73467171516233rem{font-size:73467171516233rem;}
/* fs-35589rem */
.fs-35589rem{font-size:35589rem;}
/* font-size-346717656665572 */
.font-size-346717656665572{font-size:346717656665572px;}
/* font-size-773364 */
.font-size-773364{font-size:773364px;}
/* fs-7871784799 */
.fs-7871784799{font-size:7871784799px;}
/* fs-65743585624 */
.fs-65743585624{font-size:65743585624px;}
/* font-size-259 */
.font-size-259{font-size:259px;}
/* font-size-3633148223048345vh */
.font-size-3633148223048345vh{font-size:3633148223048345vh;}
/* font-size-93554282587 */
.font-size-93554282587{font-size:93554282587px;}
/* fs-722694661rem */
.fs-722694661rem{font-size:722694661rem;}
/* font-size-6040183278px */
.font-size-6040183278px{font-size:6040183278px;}
/* fs-62557273065747378 */
.fs-62557273065747378{font-size:62557273065747378px;}
/* font-size-1461338538909711vw */
.font-size-1461338538909711vw{font-size:1461338538909711vw;}
/* font-size-86818235004651672371236rem */
.font-size-86818235004651672371236rem{font-size:86818235004651672371236rem;}
/* font-size-35687452356 */
.font-size-35687452356{font-size:35687452356px;}
/* font-size-534614233266312 */
.font-size-534614233266312{font-size:534614233266312px;}
/* font-size-43928898388037rem */
.font-size-43928898388037rem{font-size:43928898388037rem;}
/* font-size-93527501246vh */
.font-size-93527501246vh{font-size:93527501246vh;}
/* font-size-28889em */
.font-size-28889em{font-size:28889em;}
/* fs-9673976466586rem */
.fs-9673976466586rem{font-size:9673976466586rem;}
/* fs-19440258876634vw */
.fs-19440258876634vw{font-size:19440258876634vw;}
/* fs-726024843em */
.fs-726024843em{font-size:726024843em;}
/* font-size-345066vh */
.font-size-345066vh{font-size:345066vh;}
/* fs-2046106867 */
.fs-2046106867{font-size:2046106867px;}
/* fs-8980532982978rem */
.fs-8980532982978rem{font-size:8980532982978rem;}
/* fs-2866612577724 */
.fs-2866612577724{font-size:2866612577724px;}
/* font-size-17628818 */
.font-size-17628818{font-size:17628818px;}
/* font-size-66887726em */
.font-size-66887726em{font-size:66887726em;}
/* fs-982870316rem */
.fs-982870316rem{font-size:982870316rem;}
/* fs-3340496209 */
.fs-3340496209{font-size:3340496209px;}
