/* font-size-723vw */
.font-size-723vw{font-size:723vw;}
/* fs-0 */
.fs-0{font-size:0;}
/* fs-0rem */
.fs-0rem{font-size:0;}
/* fs-6572731 */
.fs-6572731{font-size:6572731px;}
/* fs-9730vh */
.fs-9730vh{font-size:9730vh;}
/* font-size-0 */
.font-size-0{font-size:0;}
/* fs-0 */

/* fs-0em */
.fs-0em{font-size:0;}
/* fs-913388 */
.fs-913388{font-size:913388px;}
/* font-size-0 */

/* fs-0vw */
.fs-0vw{font-size:0;}
/* font-size-8p */
.font-size-8p{font-size:8%;}
/* font-size-0 */

/* fs-0em */

/* font-size-0 */

/* fs-0rem */

/* fs-178 */
.fs-178{font-size:178px;}
/* font-size-3 */
.font-size-3{font-size:3px;}
/* fs-0 */

/* fs-0em */

/* font-size-7614 */
.font-size-7614{font-size:7614px;}
/* fs-357480 */
.fs-357480{font-size:357480px;}
/* fs-3559 */
.fs-3559{font-size:3559px;}
/* font-size-0 */

/* fs-0vh */
.fs-0vh{font-size:0;}
/* font-size-0 */

/* fs-0 */

/* fs-5em */
.fs-5em{font-size:5em;}
/* font-size-0 */

/* fs-681 */
.fs-681{font-size:681px;}
/* font-size-64615rem */
.font-size-64615rem{font-size:64615rem;}
/* font-size-1280vw */
.font-size-1280vw{font-size:1280vw;}
/* font-size-7rem */
.font-size-7rem{font-size:7rem;}
/* font-size-52035 */
.font-size-52035{font-size:52035px;}
/* fs-0rem */

/* fs-0rem */

/* fs-680 */
.fs-680{font-size:680px;}
/* font-size-0em */
.font-size-0em{font-size:0;}
/* fs-77 */
.fs-77{font-size:77px;}
/* font-size-0em */

/* fs-0em */

/* font-size-5544vw */
.font-size-5544vw{font-size:5544vw;}
/* font-size-3037849em */
.font-size-3037849em{font-size:3037849em;}
/* font-size-0rem */
.font-size-0rem{font-size:0;}
/* fs-0 */

/* font-size-31474rem */
.font-size-31474rem{font-size:31474rem;}
/* fs-6015rem */
.fs-6015rem{font-size:6015rem;}
/* font-size-6260rem */
.font-size-6260rem{font-size:6260rem;}
/* fs-952 */
.fs-952{font-size:952px;}
/* font-size-0rem */

/* fs-857rem */
.fs-857rem{font-size:857rem;}
/* fs-0 */

/* fs-0 */

/* fs-988 */
.fs-988{font-size:988px;}
/* fs-0rem */

/* font-size-0rem */

/* fs-240 */
.fs-240{font-size:240px;}
/* font-size-5 */
.font-size-5{font-size:5px;}
/* fs-2493 */
.fs-2493{font-size:2493px;}
/* fs-0rem */

/* fs-372131 */
.fs-372131{font-size:372131px;}
/* fs-2852em */
.fs-2852em{font-size:2852em;}
/* fs-3118 */
.fs-3118{font-size:3118px;}
/* font-size-0 */

/* fs-0rem */

/* font-size-94 */
.font-size-94{font-size:94px;}
/* font-size-0em */

/* font-size-31273 */
.font-size-31273{font-size:31273px;}
/* fs-553 */
.fs-553{font-size:553px;}
/* fs-3722978rem */
.fs-3722978rem{font-size:3722978rem;}
/* font-size-0rem */

/* font-size-0vw */
.font-size-0vw{font-size:0;}
/* fs-442rem */
.fs-442rem{font-size:442rem;}
/* font-size-973 */
.font-size-973{font-size:973px;}
/* fs-5567372em */
.fs-5567372em{font-size:5567372em;}
/* fs-47 */
.fs-47{font-size:47px;}
/* fs-825em */
.fs-825em{font-size:825em;}
/* fs-0em */

/* font-size-9rem */
.font-size-9rem{font-size:9rem;}
/* font-size-8rem */
.font-size-8rem{font-size:8rem;}
/* font-size-0em */

/* font-size-0 */

/* font-size-281 */
.font-size-281{font-size:281px;}
/* fs-0rem */

/* fs-386357 */
.fs-386357{font-size:386357px;}
/* fs-0 */

/* fs-0rem */

/* font-size-8194vw */
.font-size-8194vw{font-size:8194vw;}
/* font-size-0p */
.font-size-0p{font-size:0;}
/* font-size-84674 */
.font-size-84674{font-size:84674px;}
/* fs-71722 */
.fs-71722{font-size:71722px;}
/* font-size-0rpx */
.font-size-0rpx{font-size:0;}
/* fs-90328 */
.fs-90328{font-size:90328px;}
/* fs-734175em */
.fs-734175em{font-size:734175em;}
/* font-size-46vh */
.font-size-46vh{font-size:46vh;}
/* fs-6138771rem */
.fs-6138771rem{font-size:6138771rem;}
/* fs-0 */

/* font-size-875rem */
.font-size-875rem{font-size:875rem;}
/* fs-6 */
.fs-6{font-size:6px;}
/* font-size-0 */

