/* max-h-4rem */
.max-h-4rem{max-height:4rem;}
/* min-h-0rem */
.min-h-0rem{min-height:0;}
/* max-w-0em */
.max-w-0em{max-width:0;}
/* max-w-0rpx */
.max-w-0rpx{max-width:0;}
/* max-w-0rem */
.max-w-0rem{max-width:0;}
/* max-w-7425em */
.max-w-7425em{max-width:7425em;}
/* min-w-2735 */
.min-w-2735{min-width:2735px;}
/* max-h-8728 */
.max-h-8728{max-height:8728px;}
/* max-w-0rem */

/* max-h-53 */
.max-h-53{max-height:53px;}
/* max-w-6856rpx */
.max-w-6856rpx{max-width:6856rpx;}
/* max-w-0em */

/* min-w-0em */
.min-w-0em{min-width:0;}
/* min-h-86vw */
.min-h-86vw{min-height:86vw;}
/* min-w-0rem */
.min-w-0rem{min-width:0;}
/* max-w-881721em */
.max-w-881721em{max-width:881721em;}
/* max-w-95154vw */
.max-w-95154vw{max-width:95154vw;}
/* min-w-0rpx */
.min-w-0rpx{min-width:0;}
/* min-w-54em */
.min-w-54em{min-width:54em;}
/* max-h-0em */
.max-h-0em{max-height:0;}
/* min-w-4530rem */
.min-w-4530rem{min-width:4530rem;}
/* max-h-59 */
.max-h-59{max-height:59px;}
/* min-w-0px */
.min-w-0px{min-width:0;}
/* min-w-0 */
.min-w-0{min-width:0;}
/* min-w-0px */

/* min-w-0 */

/* min-h-0em */
.min-h-0em{min-height:0;}
/* max-h-244 */
.max-h-244{max-height:244px;}
/* min-w-68221rem */
.min-w-68221rem{min-width:68221rem;}
/* min-w-0rem */

/* max-w-6681rem */
.max-w-6681rem{max-width:6681rem;}
/* max-h-9rem */
.max-h-9rem{max-height:9rem;}
/* max-h-0em */

/* min-h-0 */
.min-h-0{min-height:0;}
/* max-w-0 */
.max-w-0{max-width:0;}
/* min-h-0em */

/* min-h-61 */
.min-h-61{min-height:61px;}
/* max-w-763vh */
.max-w-763vh{max-width:763vh;}
/* min-h-45589rem */
.min-h-45589rem{min-height:45589rem;}
/* min-w-0p */
.min-w-0p{min-width:0;}
/* min-w-0 */

/* max-w-0 */

/* max-h-462274rem */
.max-h-462274rem{max-height:462274rem;}
/* max-h-0p */
.max-h-0p{max-height:0;}
/* max-w-6675rem */
.max-w-6675rem{max-width:6675rem;}
/* max-w-444rem */
.max-w-444rem{max-width:444rem;}
/* max-h-0 */
.max-h-0{max-height:0;}
/* max-h-853vh */
.max-h-853vh{max-height:853vh;}
/* min-w-42rem */
.min-w-42rem{min-width:42rem;}
/* min-h-56559rem */
.min-h-56559rem{min-height:56559rem;}
/* min-w-50 */
.min-w-50{min-width:50px;}
/* min-h-0 */

/* min-h-57 */
.min-h-57{min-height:57px;}
/* min-h-0 */

/* min-h-0 */

/* min-w-0p */

/* max-w-50rem */
.max-w-50rem{max-width:50rem;}
/* max-h-191 */
.max-h-191{max-height:191px;}
/* max-w-5em */
.max-w-5em{max-width:5em;}
/* min-h-656 */
.min-h-656{min-height:656px;}
/* max-h-733em */
.max-h-733em{max-height:733em;}
/* max-h-0vh */
.max-h-0vh{max-height:0;}
/* min-h-8785p */
.min-h-8785p{min-height:8785%;}
/* max-w-96 */
.max-w-96{max-width:96px;}
/* max-w-0 */

/* max-h-0 */

/* max-w-23em */
.max-w-23em{max-width:23em;}
/* min-h-0 */

/* min-h-463 */
.min-h-463{min-height:463px;}
/* max-h-0em */

/* max-w-6872rem */
.max-w-6872rem{max-width:6872rem;}
/* max-h-0 */

/* max-w-537248 */
.max-w-537248{max-width:537248px;}
/* min-h-8183348 */
.min-h-8183348{min-height:8183348px;}
/* min-w-66em */
.min-w-66em{min-width:66em;}
/* max-h-7655em */
.max-h-7655em{max-height:7655em;}
/* max-h-0 */

/* max-w-38597 */
.max-w-38597{max-width:38597px;}
/* max-h-0 */

/* max-h-0 */

/* min-w-354rem */
.min-w-354rem{min-width:354rem;}
/* min-h-0 */

/* min-w-0 */

/* max-h-7rem */
.max-h-7rem{max-height:7rem;}
/* max-w-0em */

/* min-h-55 */
.min-h-55{min-height:55px;}
/* min-h-68rem */
.min-h-68rem{min-height:68rem;}
/* max-h-0 */

/* max-w-0vw */
.max-w-0vw{max-width:0;}
/* min-w-0 */

/* min-w-0 */

/* max-h-8rem */
.max-h-8rem{max-height:8rem;}
/* min-h-2551 */
.min-h-2551{min-height:2551px;}
/* max-h-6335 */
.max-h-6335{max-height:6335px;}
/* min-w-0em */

/* max-h-43vw */
.max-h-43vw{max-height:43vw;}
/* max-w-75em */
.max-w-75em{max-width:75em;}
/* max-w-248rem */
.max-w-248rem{max-width:248rem;}
/* max-h-0vw */
.max-h-0vw{max-height:0;}
/* max-h-64518vh */
.max-h-64518vh{max-height:64518vh;}
