/* min-h-681847rem */
.min-h-681847rem{min-height:681847rem;}
/* max-h-4636em */
.max-h-4636em{max-height:4636em;}
/* min-h-0em */
.min-h-0em{min-height:0;}
/* max-w-0rem */
.max-w-0rem{max-width:0;}
/* max-h-574rem */
.max-h-574rem{max-height:574rem;}
/* max-w-507rem */
.max-w-507rem{max-width:507rem;}
/* min-h-7924239rem */
.min-h-7924239rem{min-height:7924239rem;}
/* min-h-9215114rem */
.min-h-9215114rem{min-height:9215114rem;}
/* min-h-43rem */
.min-h-43rem{min-height:43rem;}
/* max-h-0rem */
.max-h-0rem{max-height:0;}
/* min-h-6em */
.min-h-6em{min-height:6em;}
/* max-h-476798rem */
.max-h-476798rem{max-height:476798rem;}
/* min-w-0vw */
.min-w-0vw{min-width:0;}
/* max-w-6821rem */
.max-w-6821rem{max-width:6821rem;}
/* max-w-5579vh */
.max-w-5579vh{max-width:5579vh;}
/* min-w-0vw */

/* min-h-0rem */
.min-h-0rem{min-height:0;}
/* min-h-58625557rem */
.min-h-58625557rem{min-height:58625557rem;}
/* min-h-0rem */

/* min-h-64rem */
.min-h-64rem{min-height:64rem;}
/* min-w-0vh */
.min-w-0vh{min-width:0;}
/* max-w-78881rem */
.max-w-78881rem{max-width:78881rem;}
/* max-w-76265vw */
.max-w-76265vw{max-width:76265vw;}
/* max-h-445vw */
.max-h-445vw{max-height:445vw;}
/* min-h-80rem */
.min-h-80rem{min-height:80rem;}
/* max-w-0rem */

/* min-h-0em */

/* max-w-3rem */
.max-w-3rem{max-width:3rem;}
/* max-w-0rem */

/* min-h-6588314em */
.min-h-6588314em{min-height:6588314em;}
/* min-h-0rem */

/* max-h-0em */
.max-h-0em{max-height:0;}
/* min-w-285655em */
.min-w-285655em{min-width:285655em;}
/* min-w-70em */
.min-w-70em{min-width:70em;}
/* min-w-0px */
.min-w-0px{min-width:0;}
/* max-w-0rem */

/* max-w-45311vw */
.max-w-45311vw{max-width:45311vw;}
/* max-w-28rem */
.max-w-28rem{max-width:28rem;}
/* max-w-356em */
.max-w-356em{max-width:356em;}
/* max-h-0em */

/* max-w-0rem */

/* min-w-0em */
.min-w-0em{min-width:0;}
/* max-h-0vw */
.max-h-0vw{max-height:0;}
/* min-w-6rem */
.min-w-6rem{min-width:6rem;}
/* max-w-0rem */

/* min-w-0em */

/* max-h-3rem */
.max-h-3rem{max-height:3rem;}
/* min-h-485829em */
.min-h-485829em{min-height:485829em;}
/* max-h-46913em */
.max-h-46913em{max-height:46913em;}
/* max-h-270em */
.max-h-270em{max-height:270em;}
/* min-h-0rem */

/* max-w-11px */
.max-w-11px{max-width:11px;}
/* min-w-0vh */

/* min-h-0em */

/* max-h-0em */

/* max-w-0vw */
.max-w-0vw{max-width:0;}
/* min-h-0rem */

/* max-w-0rem */

/* min-w-686883rem */
.min-w-686883rem{min-width:686883rem;}
/* min-h-0vw */
.min-h-0vw{min-height:0;}
/* max-h-0rem */

/* max-w-0em */
.max-w-0em{max-width:0;}
/* min-h-185401rem */
.min-h-185401rem{min-height:185401rem;}
/* max-h-0em */

/* min-w-0rem */
.min-w-0rem{min-width:0;}
/* max-h-8rem */
.max-h-8rem{max-height:8rem;}
/* max-w-0em */

/* max-h-6vh */
.max-h-6vh{max-height:6vh;}
/* min-w-0rem */

/* min-h-0rem */

/* max-h-0rem */

/* max-w-0rem */

/* max-w-78vh */
.max-w-78vh{max-width:78vh;}
/* max-w-0rem */

/* max-h-0em */

/* min-h-484em */
.min-h-484em{min-height:484em;}
/* max-w-837574em */
.max-w-837574em{max-width:837574em;}
/* min-h-0rem */

/* max-h-0rem */

/* max-w-0em */

/* min-w-0em */

/* min-h-0p */
.min-h-0p{min-height:0;}
/* min-h-333rem */
.min-h-333rem{min-height:333rem;}
/* min-h-0vh */
.min-h-0vh{min-height:0;}
/* max-w-992rem */
.max-w-992rem{max-width:992rem;}
/* max-h-0em */

/* max-w-0em */

/* min-h-28em */
.min-h-28em{min-height:28em;}
/* min-w-204860em */
.min-w-204860em{min-width:204860em;}
/* max-h-738rem */
.max-h-738rem{max-height:738rem;}
/* max-w-0rem */

/* min-h-67vh */
.min-h-67vh{min-height:67vh;}
/* min-w-632rem */
.min-w-632rem{min-width:632rem;}
/* max-w-724rem */
.max-w-724rem{max-width:724rem;}
/* min-h-0rem */

/* max-h-7816p */
.max-h-7816p{max-height:7816%;}
/* max-h-0em */

/* min-h-994rem */
.min-h-994rem{min-height:994rem;}
/* min-w-0rem */

/* min-h-89612em */
.min-h-89612em{min-height:89612em;}
