/* max-w-0 */
.max-w-0{max-width:0;}
/* max-w-0 */

/* min-w-7540714 */
.min-w-7540714{min-width:7540714px;}
/* min-h-995vw */
.min-h-995vw{min-height:995vw;}
/* max-h-23em */
.max-h-23em{max-height:23em;}
/* max-h-0 */
.max-h-0{max-height:0;}
/* min-h-0 */
.min-h-0{min-height:0;}
/* max-h-0em */
.max-h-0em{max-height:0;}
/* min-h-76171 */
.min-h-76171{min-height:76171px;}
/* min-w-0 */
.min-w-0{min-width:0;}
/* max-w-0rem */
.max-w-0rem{max-width:0;}
/* min-w-8300 */
.min-w-8300{min-width:8300px;}
/* max-w-534rem */
.max-w-534rem{max-width:534rem;}
/* min-w-4rem */
.min-w-4rem{min-width:4rem;}
/* min-h-217 */
.min-h-217{min-height:217px;}
/* max-h-0vw */
.max-h-0vw{max-height:0;}
/* max-w-0rem */

/* min-h-0rem */
.min-h-0rem{min-height:0;}
/* min-w-0rem */
.min-w-0rem{min-width:0;}
/* min-w-0em */
.min-w-0em{min-width:0;}
/* max-w-0 */

/* min-h-4024em */
.min-h-4024em{min-height:4024em;}
/* max-w-0rem */

/* min-h-0em */
.min-h-0em{min-height:0;}
/* min-h-0rem */

/* min-w-18rem */
.min-w-18rem{min-width:18rem;}
/* max-h-69 */
.max-h-69{max-height:69px;}
/* min-h-0rem */

/* min-h-918rem */
.min-h-918rem{min-height:918rem;}
/* max-w-1119 */
.max-w-1119{max-width:1119px;}
/* max-w-0 */

/* min-w-4057436rem */
.min-w-4057436rem{min-width:4057436rem;}
/* max-w-85em */
.max-w-85em{max-width:85em;}
/* max-h-0em */

/* max-h-0rem */
.max-h-0rem{max-height:0;}
/* min-w-2167 */
.min-w-2167{min-width:2167px;}
/* min-h-334834rem */
.min-h-334834rem{min-height:334834rem;}
/* min-h-753rem */
.min-h-753rem{min-height:753rem;}
/* min-w-41258 */
.min-w-41258{min-width:41258px;}
/* min-w-0rem */

/* max-w-55rem */
.max-w-55rem{max-width:55rem;}
/* min-h-3rem */
.min-h-3rem{min-height:3rem;}
/* min-w-71rem */
.min-w-71rem{min-width:71rem;}
/* max-w-72213em */
.max-w-72213em{max-width:72213em;}
/* min-w-0 */

/* min-w-0rem */

/* min-w-0 */

/* min-w-0 */

/* max-w-0em */
.max-w-0em{max-width:0;}
/* min-w-41vw */
.min-w-41vw{min-width:41vw;}
/* min-w-644 */
.min-w-644{min-width:644px;}
/* max-w-4 */
.max-w-4{max-width:4px;}
/* min-h-0 */

/* min-h-2134 */
.min-h-2134{min-height:2134px;}
/* min-h-0rem */

/* min-h-0 */

/* max-h-274867 */
.max-h-274867{max-height:274867px;}
/* min-h-0rem */

/* max-w-7854 */
.max-w-7854{max-width:7854px;}
/* min-h-0 */

/* min-h-766 */
.min-h-766{min-height:766px;}
/* max-h-0 */

/* max-h-51651 */
.max-h-51651{max-height:51651px;}
/* min-h-7 */
.min-h-7{min-height:7px;}
/* max-w-764157 */
.max-w-764157{max-width:764157px;}
/* min-h-37810p */
.min-h-37810p{min-height:37810%;}
/* max-w-535rem */
.max-w-535rem{max-width:535rem;}
/* max-w-0 */

/* max-w-0rem */

/* max-h-0 */

/* max-h-8em */
.max-h-8em{max-height:8em;}
/* min-w-7832856em */
.min-w-7832856em{min-width:7832856em;}
/* max-h-0vw */

/* max-w-433 */
.max-w-433{max-width:433px;}
/* max-w-0 */

/* max-w-0 */

/* min-w-0em */

/* max-w-0 */

/* max-w-0 */

/* max-w-0 */

/* min-w-112rem */
.min-w-112rem{min-width:112rem;}
/* min-h-35 */
.min-h-35{min-height:35px;}
/* max-h-69913rem */
.max-h-69913rem{max-height:69913rem;}
/* max-w-7673 */
.max-w-7673{max-width:7673px;}
/* min-w-346614 */
.min-w-346614{min-width:346614px;}
/* min-w-0 */

/* max-h-83rem */
.max-h-83rem{max-height:83rem;}
/* max-h-7rem */
.max-h-7rem{max-height:7rem;}
/* min-h-0rem */

/* max-w-0rem */

/* min-w-0 */

/* min-w-43em */
.min-w-43em{min-width:43em;}
/* max-h-0 */

/* max-h-40em */
.max-h-40em{max-height:40em;}
/* max-w-84463 */
.max-w-84463{max-width:84463px;}
/* max-w-0rem */

/* max-w-46rem */
.max-w-46rem{max-width:46rem;}
/* max-h-0 */

/* min-h-0rem */

/* max-w-702 */
.max-w-702{max-width:702px;}
