/* text-align-left */
.text-align-left{text-align:left;}
/* text-justify */
.text-justify{text-align:justify;}
/* text-start */
.text-start{text-align:start;}
/* text-left */
.text-left{text-align:left;}
/* text-align-end */
.text-align-end{text-align:end;}
/* text-align-right */
.text-align-right{text-align:right;}
/* text-end */
.text-end{text-align:end;}
/* text-start */

/* text-align-end */

/* text-align-end */

/* text-align-end */

/* text-align-start */
.text-align-start{text-align:start;}
/* text-center */
.text-center{text-align:center;}
/* text-end */

/* text-left */

/* text-start */

/* text-end */

/* text-align-start */

/* text-align-start */

/* text-align-left */

/* text-align-start */

/* text-align-end */

/* text-start */

/* text-start */

/* text-start */

/* text-align-end */

/* text-start */

/* text-left */

/* text-end */

/* text-start */

/* text-align-start */

/* text-start */

/* text-align-start */

/* text-align-right */

/* text-left */

/* text-align-end */

/* text-align-start */

/* text-left */

/* text-align-end */

/* text-start */

/* text-align-start */

/* text-justify */

/* text-left */

/* text-align-left */

/* text-align-start */

/* text-align-start */

/* text-align-start */

/* text-align-end */

/* text-align-center */
.text-align-center{text-align:center;}
/* text-start */

/* text-start */

/* text-align-start */

/* text-align-right */

/* text-align-end */

/* text-start */

/* text-align-start */

/* text-align-right */

/* text-align-start */

/* text-align-start */

/* text-align-end */

/* text-align-start */

/* text-align-end */

/* text-align-start */

/* text-align-left */

/* text-left */

/* text-start */

/* text-align-start */

/* text-align-start */

/* text-start */

/* text-start */

/* text-align-end */

/* text-start */

/* text-align-left */

/* text-start */

/* text-align-left */

/* text-align-start */

/* text-right */
.text-right{text-align:right;}
/* text-align-start */

/* text-right */

/* text-end */

/* text-align-start */

/* text-start */

/* text-left */

/* text-start */

/* text-align-start */

/* text-align-start */

/* text-end */

/* text-start */

/* text-end */

/* text-align-match-parent */
.text-align-match-parent{text-align:match-parent;}
/* text-center */

/* text-match-parent */
.text-match-parent{text-align:match-parent;}
/* text-align-start */

/* text-start */

/* text-align-start */

/* text-center */

/* text-align-end */

/* text-align-start */

/* text-align-end */

/* text-align-center */

