@charset "UTF-8";

* {
  box-sizing: border-box;
  font-family: 'PingFang SC', 'Microsoft YaHei', 'Helvetica Neue For Number', BlinkMacSystemFont, 'Segoe UI', Roboto, Arial, SimSun PingFang SC, Microsoft YaHei, Helvetica Neue For Number, BlinkMacSystemFont, Segoe UI, Roboto, Arial, SimSun;
}

html {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
  background: #fff;
}

ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  padding: 0;
  margin: 0;
  word-break: break-all;
}

#app {
  font-size: 14px;
  height: 100%;
}


.default-sc-1::-webkit-scrollbar {
  width: 5px;
  height: 1px;
}

.default-sc-1::-webkit-scrollbar-thumb {

  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: #535353;
}

.default-sc-1::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background: #ededed;
}





.default-w-100p {
  width: 100% !important;
}

.default-w-600 {
  width: 600px !important;
}


.default-h-100vh {
  height: 100vh !important;
}

.default-h-100p {
  height: 100% !important;
}

.default-h-354 {
  height: 354px !important;
}


.default-m-24 {
  margin: 24px !important;
}


.default-m-t-16 {
  margin-top: 16px !important;
}


.default-m-b-8 {
  margin-bottom: 8px !important;
}

.default-m-b-16 {
  margin-bottom: 16px !important;
}

.default-m-b-19 {
  margin-bottom: 19px !important;
}

.default-m-b-24 {
  margin-bottom: 24px !important;
}


.default-m-r-24 {
  margin-right: 24px !important;
}


.default-p-16 {
  padding: 16px !important;
}

.default-p-24 {
  padding: 24px !important;
}


.default-p-x-24 {
  padding-left: 24px !important;
  padding-right: 24px !important;
}


.default-p-y-17 {
  padding-top: 17px !important;
  padding-bottom: 17px !important;
}


.default-p-t-12 {
  padding-top: 12px !important;
}

.default-p-t-16 {
  padding-top: 16px !important;
}


.default-flex-flex-start-flex-start {
  display: flex !important;
  justify-content: flex-start !important;
  align-items: flex-start !important;
}

.default-flex-between-flex-start {
  display: flex !important;
  justify-content: space-between !important;
  align-items: flex-start !important;
}


.default-flex-column {
  flex-direction: column !important;
}


.default-flex-1 {
  flex: 1 !important;
}


.default-d-flex {
  display: flex !important;
}


.default-position-sticky {
  position: sticky !important;
}


.default-t-0 {
  top: 0px !important;
}


.default-fw-600 {
  font-weight: 600 !important;
}


.default-fs-18 {
  font-size: 18px !important;
}

.default-fs-12{
  font-size: 12px !important;
}

.default-overflow-y-auto {
  overflow-y: auto !important;
}


.default-border-1 {
  border-width: 1px !important;
  border-style: solid !important;
  border-style: solid !important;
}


.default-br-4 {
  border-radius: 4px !important;
}


.default-c-red {
  color: rgba(255, 0, 0, 1) !important;
}

.default-bg-f2f5fc {
  background-color: rgba(242, 245, 252, 1) !important;
}

.default-bg-fff {
  background-color: rgba(255, 255, 255, 1) !important;
}

.default-c-111f2c {
  color: rgba(17, 31, 44, 1) !important;
}

.default-bg-f7f8fc {
  background-color: rgba(247, 248, 252, 1) !important;
}

.default-border-c-eee {
  border-color: rgba(238, 238, 238, 1) !important;
}

.default-fs-25 {
  font-size: 25px !important;
}